nav .brand-logo{
	margin-left: 20px;
	font-weight: 100;
}

mission-list .mission-list{
	margin-top: 20px;
}

form h3, .viewMission .card h4, .welcome-message h4{
	font-weight: 100;
}

.welcome-message h4{
	text-align: center;
}

table tbody tr{
	cursor: pointer;
}

table th {
	font-weight: 500;
}

.viewMission .card{
	line-height: 1em;
}

.ViewMission .card .card-content{
	width: 60%;
}



